    <header>
	<div class="header-text ht-resp">
		<span class="h-title">
			Verve Mobile SMB App
		</span>
		<span class="h-subtitle">
			The App that meets all of your mobile marketing needs and desires, take a look.
		</span>
	</div>
	<div id="screenshots" class="container-fluid header-slider">
		<div class="container header-slider-start">
			<img class="phone phone1 header-slider-phone" src="http://i.imgur.com/ImHzuAD.png" alt="Screenshots Phone One">
			<div class="overlay slider-overlay"></div>
			<div class="left-over slider-left-over"></div>
			<div class="sw-div sw-div1 ">
		    	<div class="header-slider-swiper">
					<div class="swiper-hover"></div>
					<div class="swiper-wrapper sw1">
						<div class="abb"></div>
						<div class="swiper-slide ss1">
						<a class="group1" href="https://placeholdit.imgix.net/~text?txtsize=60&amp;txt=Screenshot&amp;w=640&amp;h=1136&amp;.png" ><span class="ss1-over"><i class="fa fa-search-plus"></i></span><%= image_tag("banner-screenshot.png", alt: "swiper1") %> <!-- <img src="https://placeholdit.imgix.net/~text?txtsize=60&amp;txt=Screenshot&amp;w=640&amp;h=1136&amp;.png" alt="swiper1"> --></a>
					</div>
					<div class="swiper-slide ss1">
						<a class="group1" href="https://placeholdit.imgix.net/~text?txtsize=60&amp;txt=Screenshot&amp;w=640&amp;h=1136&amp;bg=1f1f1f&amp;txtclr=ffffff&amp;.png" ><span class="ss1-over"><i class="fa fa-search-plus"></i></span><%= image_tag("banner-screenshot2.png", alt: "swiper2") %></a>
					</div>
					<div class="swiper-slide ss1">
						<a class="group1" href="https://placeholdit.imgix.net/~text?txtsize=60&amp;txt=Screenshot&amp;w=640&amp;h=1136&amp;.png" ><span class="ss1-over"><i class="fa fa-search-plus"></i></span><%= image_tag("banner-screenshot3.png", alt: "swiper3") %></a>
					</div>
					<div class="swiper-slide ss1">
						<a class="group1" href="https://placeholdit.imgix.net/~text?txtsize=60&amp;txt=Screenshot&amp;w=640&amp;h=1136&amp;bg=1f1f1f&amp;txtclr=ffffff&amp;.png" ><span class="ss1-over"><i class="fa fa-search-plus"></i></span><%= image_tag("expandable-screenshot.png", alt: "swiper4") %></a>
					</div>
				  <!-- <div class="swiper-slide ss1">
            <a class="group1" href="https://placeholdit.imgix.net/~text?txtsize=60&amp;txt=Screenshot&amp;w=640&amp;h=1136&amp;.png" ><span class="ss1-over"><i class="fa fa-search-plus"></i></span><img src="https://placeholdit.imgix.net/~text?txtsize=60&amp;txt=Screenshot&amp;w=640&amp;h=1136&amp;.png" alt="swiper5"></a>
          </div>
          <div class="swiper-slide ss1">
            <a class="group1" href="https://placeholdit.imgix.net/~text?txtsize=60&amp;txt=Screenshot&amp;w=640&amp;h=1136&amp;bg=1f1f1f&amp;txtclr=ffffff&amp;.png" ><span class="ss1-over"><i class="fa fa-search-plus"></i></span><img src="https://placeholdit.imgix.net/~text?txtsize=60&amp;txt=Screenshot&amp;w=640&amp;h=1136&amp;bg=1f1f1f&amp;txtclr=ffffff&amp;.png" alt="swiper6"></a>
          </div> -->
					</div>
				</div>
				<div class="pagination1-1"></div>
				<div class="containt-tp slider-containt-tp">
					<div class="text-and-pagination slider-text-and-pagination">
						<div class="section-text swiper-textt">
							<span class="sec-title center-it768 resp-fix-sw-title" style="margin-top: 0;">
								Verve Mobile SMB App
							</span>
							<span class="sec-text right-text-sec center-it768" style="margin-bottom: 0;">
								Our app drives higher engagement and foot traffic by serving dynamic, location aware, geo-fenced mobile ads to shoppers you want to reach, where you want to reach them.  
							</span>
						</div>
						<div class="pagination"></div>
					</div>
				</div>
			</div>
		</div>

		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container menu-container">
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"><div class="logo_image"></div></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <span class="sign-up">
            
            <a href="#sign_up">Sign up</a></span>
		      <ul class="nav navbar-nav navbar-right">
		        <!-- <li><a href="#">Top</a>
          <!<ul class="dropdown-menu">
                <li ><a href="index2.html">Screen Slider</a></li>
                <li><a href="index3.html">Fullscreen Video</a></li>
                <li><a href="index.html">Image parallax</a></li>
                <li><a href="index5.html">Central Slider</a></li>
                <li><a href="index4.html">Phone Video</a></li>
            </ul> -->
            <!-- </li>
            <li><a href="#features">Features</a></li>  -->
		      
		      </ul>
		     
		    </div><!-- /.navbar-collapse -->
		  </div>
		</nav>
	</div>
</header>




    <div class="wrapper">

      	<div class="se-pre-con"></div>

	<!-- div id="whoweare" class="container-fluid" style="background-color: #f5f5f5">
    <div class="container">
            <div class="text-image-center-sec text-center">
        <div class="section-text">
          <span class="sec-title">
            AppSonic
          </span>
          <span class="sec-subtitle">
            Smarter and easier
          </span>
          <div class="centered-image revealOnScroll" data-animation="zoomIn">
            <img src="https://placeholdit.imgix.net/~text?txtsize=100&amp;txt=AppSonic&amp;w=1735&amp;h=896&amp;.png" alt="Horizontal Phone">
          </div>
          <span class="sec-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus ligula quis mi egestas, vel faucibus lorem eleifend. Suspendisse potenti. Sed massa lectus, condimentum at diam vitae
          </span>
        </div>
      </div>
    </div>
  </div> -->
	
	<div class="container-fluid" style="background-color: #fff">
		<div class="container">
			<div class="text-image-left-sec text-center">
				<div class="col-md-6">
					<div class="para-image parallax-all">

            
           <%= image_tag("FootTraffic_896x1735.png", alt: "Parallax Image One", class: "img-1") %>  
           <%= image_tag("phone_mock_896x1735.png", alt: "Parallax Image Two", class: "img-2") %>  
					
					</div>
				</div>
				<div class="col-md-6" style="background-color: #fff">
					<span class="sec-title text-left">
						The next best thing to foot traffic
					</span>
					<span class="right-text-sec sec-text text-left">
          Harnessing the power of real-time mobile location data, Verve is the pioneering leader in connecting mobile advertising with in-store sales.<br/><br/>
          <strong>93%</strong> of all consumer sales happen in the real-world, in brick and mortar stores. For the first time ever, brands leveraging the patented Verve platform can deliver an ad to a consumer on their mobile digital devices and connect that message to actual store-level foot traffic.
					</span>
				</div>
			</div>
		</div>
	</div>

	<div id="features" class="container-fluid" style="background-color: #F5F6F8">
		<div class="container margin-top72 margin-bottom72">
			<div class="text-image-right-sec text-right">
				<div class="col-md-6">
					<span class="sec-title text-left" style="margin-top:0;">
						Geo-Targeting Solutions
					</span>
					<span class="right-text-sec sec-text text-left margin-bottom24">
						Verve's proprietary geo-hex technology helps advertisers drive the best results in the mobile ad business by reaching the right person, at the right place, at the right time.
					</span>
            
            
            
          <div class="ico-row">  
			<span class="ico-text"><%= fa_icon "phone 4x" %></span><span class="ico-text subtext">Mobile makes up 60% of all digital inventory and is the only media growing. Online (web) traffic is decreasing annually.</span></div>
          
          <div class="ico-row">
        <span class="ico-text"><%= fa_icon "money 4x" %></span><span class="ico-text subtext">Geo-fence mobile ads have 2-3x ROI over search or social marketing</span></div>
            <div class="ico-row">
            	<span class="ico-text"><%= fa_icon "pencil-square-o 4x" %></span><span class="ico-text subtext">Dynamic, attractive rich media mobile ads drive more engagement than web sites alone.</span>
          </div>
          
				</div>
				<div class="col-md-6">
					<div class="para-image para-image2">
            <%= image_tag("FootTraffic_896x1735.png", alt: "Features Image One", class: "img-1 right-img-1 revealOnScroll", :data=> {animation: "zoomIn"}) %>  
            <%= image_tag("phone_mock_896x1735.png", alt: "Features Image Two", class: "img-2 right-img-2 revealOnScroll", :data => {animation:"zoomIn"}) %>
						<!-- <img class="img-1 right-img-1 revealOnScroll" src="https://placeholdit.imgix.net/~text?txtsize=100&amp;txt=PlaceholderBruh&amp;w=896&amp;h=1735&amp;.png" data-animation="zoomIn" alt="Features Image One">
            <img class="img-2 right-img-2 revealOnScroll" src="https://placeholdit.imgix.net/~text?txtsize=100&amp;txt=PlaceHolderBruh&amp;w=896&amp;h=1735&amp;bg=1f1f1f&amp;txtclr=ffffff&amp;.png" data-animation="zoomIn" alt="Features Image Two"> -->
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="container-fluid no-pad" id="sign_up" style="margin-top: 74px;">
		<div class="subscribe-full">
			<img src="http://i.imgur.com/xTS7X2a.jpg" alt="Subscribe Background Image">
			<div class="container" style="margin-top: 250px;">
				<div class="col-md-6 col-md-offset-3 text-center" style="margin-bottom:25px;">
					<span class="subsc-title">Be the first to know:</span>
				</div>
				<div class="col-md-6 col-md-offset-3 text-center">
					<span class="subsc-text" style="color:#FFF; font-weight:200; margin-top:20px;margin-bottom:20px;">We'll be ready for your business very shortly - leave us your email and we will get back to you as soon as we can help you get conversions</span>
				</div>
			</div>
			<div class="container sub-container" style="margin-bottom: 300px;">
				
					<div class="col-sm-6 col-sm-offset-2 subsc-input">
            <%= form_for @subscriber do |f|%>
            <%= f.text_field :email, class: "subscribe-input required", :placeholder => "Enter your e-mail here"%>
            
					</div>
					<div class="col-sm-2 subsc-button">
						<%= f.submit "SIGN UP", class:"btn-sub"  %>
					</div>
          <% end %>
				
			</div>
		</div>
	</div>


    </div>

    <!-- <footer>
    <div class="container text-footer margin-top72 margin-bottom72">
      <span class="f1-title">Verve Mobile SMB</span>
      <span class="f2-title">Learn More</span>
      <span class="f-text margin-top12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida fermentum turpis, ac dictum nibh finibus eget. Sed mi est, viverra nec nisi a, tristique porta massa. Etiam euismod turpis vitae</span>
      <div class="for-btns margin-top36">
        <div class="col-sm-5 col-sm-offset-1">
          <a href="#"><img class="apple-button" src="images/app-store.png" alt="Footer Apple Store" style="height: 56px;"></a>
        </div>
        <div class="col-sm-5">
          <a href="#"><img class="gplay-button" src="images/google-play.png" alt="Footer Google Play" style="height: 56px;"></a>
        </div>
      </div>
    </div>
  </footer> -->

   
